<div class="card card-custom bg-white border-white">

  <div class="card-body" style="overflow-y: auto">
    <h4 class="card-title" fxlayoutalign="center center">About</h4>
    <p class="card-text">Sprint is a minimalist desktop time
      management application
       inspired by the
        <a href="https://en.wikipedia.org/wiki/Pomodoro_Technique" style="text-decoration: underline;"> Pomodoro Technique</a> .</p>
        <p class="card-text">Choose a sprint length, enter a
           brief description of the activity, and get things done.</p>
           <p class="card-text">Preferred browser: <a href="https://www.google.com/chrome/" style="text-decoration: underline">Chrome</a>.</p>
           <p><span style="text-decoration: underline">Terms and conditions</span></p>
  </div>
  <div class="card-footer" style="background: inherit; border-color: inherit;">

  </div>
</div>

  <footer>
    <div mat-raised-button>
      <strong>version 1.0</strong>
    </div>
    <div>
      <a href="mailto:nasrafer@gmail.com?subject=Sprint bug report"  aria-disabled="false">
        <button class="btn btn-light">Report bug</button>
      </a>
    </div>

  </footer>