<div class="staticTabs">

  <tabset #staticTabs>
    <tab heading="Pasts Sprint">

      <div class="inputSearch">
        <input class="form-control" type="text" name="search" [(ngModel)]="filter">
      </div>
      <div class="row grid-container">
        <div class="col-md-10">


          <table class="table table-hover table-responsive-md mb-0">
            <thead>
              <tr class="align-center">
                <th (click)="sort('length')">Length
                  <span class="glyphicon sort-icon" *ngIf="key =='length'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th (click)="sort('status')">Status
                  <span class="glyphicon sort-icon" *ngIf="key =='status'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th (click)="sort('date')">Date
                  <span class="glyphicon sort-icon" *ngIf="key =='date'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th (click)="sort('start')">Start
                  <span class="glyphicon sort-icon" *ngIf="key =='start'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th (click)="sort('finish')">Finish
                  <span class="glyphicon sort-icon" *ngIf="key =='finish'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th (click)="sort('description')">Description
                  <span class="glyphicon sort-icon" *ngIf="key =='description'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let list of sprintlists | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 5, currentPage: p }; let name = index">
                <td>{{list.name}}</td>
                <td>{{list.status}}</td>
                <td>{{list.createdAt}}</td>
                <td>{{list.startedAt}}</td>
                <td>{{list.finishedAt}}</td>
                <td>{{list.description}}</td>
              </tr>
            </tbody>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </table>

        </div>
        
      </div>
      <div class="button-delete">
        <button type="button" class="button-content" (click)="deleteList(); $event.stopPropagation();">Delete All</button>
      </div>
    </tab>
    <tab heading="New Sprint">
      <section class="form-light">

        <!--Form without header-->
        <form action=""  (submit)="onAddPost(postForm)"  #postForm="ngForm">

          <div class="card-body mx-4">

            <!--Header-->
            <div class="text-center">
              <h3 class="pink-text mb-5">
                <strong>Start a Sprint</strong>
              </h3>
            </div>

            <!--Body-->
            <div class="md-form">
              <label class="grey-text">Choose a length*</label>
              <select class="form-control" required name="length" [(ngModel)]="selectedValue">
                <option *ngFor="let sp of sprints" [value]="sp.value">{{ sp.viewValue }}</option>
              </select>

            </div>

            <div class="md-form pb-3">
              <label class="grey-text">Description</label>
              <textarea class="form-control" ngModel #title="ngModel" name="description" required></textarea>
              <small id="emailHelp" class="form-text text-muted">What will you be doing</small>
              <div class="form-check my-4">
                <input [(ngModel)]="notify" name="notify" class="form-check-input" type="checkbox" id="notify">
                <label for="notify" class="grey-text">Notify when completed</label>
              </div>
            </div>

            <!--Grid row-->
            <div class="row d-flex align-items-center mb-4">

              <!--Grid column-->
              <div class="col-md-3 col-md-6 text-center">
                <button type="submit" class="btn btn-primary btn-block btn-rounded z-depth-1" [disabled]="!postForm.valid">Start</button>
              </div>
              <!--Grid column-->



            </div>
            <!--Grid row-->
          </div>

        </form>
        <!--/Form without header-->

      </section>


    </tab>

  </tabset>

  <footer>
    <p>Logged in as {{ username }} </p>
  </footer>
</div>