img{
    display: flex;
    width: 115px;
  }
  .app-style{
    font-family: monospace;
    font-size: 170%;
    font-style: oblique;
    font-weight: 500;
  
  }
  
  a{
    text-decoration: none;
    color: #fff;
    padding: 0 .5em;
    height: 26px;
  }