<script type="text/javascript" src="node_modules/auth0-js/build/auth0.js"></script>

<nav class="navbar  navbar-dark" style="background-color:rgb(63, 118, 181) ">
    <img src="../assets/images/logo.png"  alt="sprint logo"/>
    <a
          class="app-style"
          routerLink="/" >
          ≡Sprint
    </a>

        <a
          class="app-style"
          *ngIf="!auth.isAuthenticated()"
          (click)="auth.login()" >
            Login
          </a>

        <a
          class="navbar-brand"
          *ngIf="auth.isAuthenticated()"
          routerLink="/sprints"
           style="background-color:#3F51B5 ">
            Sprints
        </a>

        <a
          class="navbar-brand"
          *ngIf="auth.isAuthenticated()"
          (click)="auth.logout()" style="background-color:#3F51B5 ">
            Log Out
        </a>

</nav>
